<sidebar #sidebar></sidebar>
<ActionBar class="bg">
    <StackLayout>
            <GridLayout width="100%" height="100%">
                <Label horizontalAlignment="right" class="mdi rights" [text]="'mdi-menu' | fonticon" (tap) = "openDrawer()"></Label>
                <Label horizontalAlignment="left" class="mdi" [text]="'mdi-arrow-back' | fonticon" (tap) = "toBack()"></Label>
                <label horizontalAlignment="center" class="setCenter w Cloud-Lights" [text]='"ยอดชำระ " +  getFormatDate(day2)'></label>
            </GridLayout>
    </StackLayout>
</ActionBar>

<StackLayout>

<StackLayout>
        <GridLayout columns="*, *, *" rows="50">
                <button row="0" col="0" class = "btn-primary setCenter sl sizeLogin Cloud-Lights" text="ค่ารักษา" (tap) = "showStatus(1)"></button>
                <button row="0" col="1" class = "btn-primary setCenter sl sizeLogin Cloud-Lights" text="ค่ายา" (tap) = "showStatus(2)"></button>
                <button row="0" col="2" class = "btn-primary setCenter sl sizeLogin Cloud-Lights" text="ค่าบริการ" (tap) = "showStatus(3)"></button>
        </GridLayout>
</StackLayout>

<StackLayout *ngIf = "operationShow">
<StackLayout>
        <label text=""></label>
        <label class = "Cloud-Light5 black" text='   ค่ารักษา'></label>
</StackLayout>
<StackLayout  width="100%" height="80%">
        <ListView [items]="dataCost" (itemTap)="onItemTap($event)">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                        <StackLayout class="mtop" [class.odd]="odd" [class.even]="even">
                                <GridLayout columns="20, 200, *" rows="15, 25, 15">
                                        <label row="0" col="0" text=""></label>
                                        <Label row="1" col="1" class = "Cloud-Light4" [text]='(i+1) + ". " + item.name'></Label>
                                        <label row="1" col="2" class = "Cloud-Light2 setCenter" [text]='item.price + " บาท"'></label>
                                </GridLayout>
                        </StackLayout>
                </ng-template>
        </ListView> 
</StackLayout>
</StackLayout>

<StackLayout *ngIf = "drugShow">
<StackLayout>
        <label text=""></label>
        <label class = "Cloud-Light5 black" text='   ค่ายา'></label>
</StackLayout>
<StackLayout  width="100%" height="80%">
        <ListView [items]="dataDrug" (itemTap)="onItemTap($event)">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                        <StackLayout class="mtop" [class.odd]="odd" [class.even]="even">
                                <GridLayout columns="20, 200, *" rows="15, 25, 15">
                                        <label row="0" col="0" text=""></label>
                                        <Label row="1" col="1" class = "Cloud-Light4" [text]='(i+1) + ". " + item.name'></Label>
                                        <label row="1" col="2" class = "Cloud-Light2 setCenter" [text]='item.price + " บาท"'></label>
                                </GridLayout>
                        </StackLayout>
                </ng-template>
        </ListView> 
</StackLayout>
</StackLayout>

<StackLayout *ngIf = "serviceShow">
                <StackLayout>
                        <label text=""></label>
                        <label class = "Cloud-Light5 black" text='   ค่าบริการ'></label>
                </StackLayout>
                <StackLayout  width="100%" height="80%">
                        <ListView [items]="dataService" (itemTap)="onItemTap($event)">
                                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                                        <StackLayout class="mtop" [class.odd]="odd" [class.even]="even">
                                                <GridLayout columns="20, 200, *" rows="15, 25, 15">
                                                        <label row="0" col="0" text=""></label>
                                                        <Label row="1" col="1" class = "Cloud-Light4" [text]='(i+1) + ". " + item.name'></Label>
                                                        <label row="1" col="2" class = "Cloud-Light2 setCenter" [text]='item.price + " บาท"'></label>
                                                </GridLayout>
                                        </StackLayout>
                                </ng-template>
                        </ListView> 
                </StackLayout>
                </StackLayout>

                <StackLayout>
                        <label class = "Cloud-Light5 black" [text] = '"   รวม " + totalMoney + " บาท"'></label>
                </StackLayout>

</StackLayout>