<sidebar #sidebar></sidebar>
<ActionBar class="bg">
        <StackLayout>
                <GridLayout width="100%" height="100%">
                        <Label horizontalAlignment="right" class="mdi rights" [text]="'mdi-menu' | fonticon" (tap) = "openDrawer()"></Label>
                        <Label horizontalAlignment="left" class="mdi" [text]="'mdi-arrow-back' | fonticon" (tap)="toBack()"></Label>
                        <label horizontalAlignment="center" class="w Cloud-Lights" [text]="getFormatDate(day)"></label>
                </GridLayout>
        </StackLayout>
</ActionBar>

<ListView [items]="dataTotalShow" height="100%" (itemTap)="onItemTap($event)" *ngIf = "isChart">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout [class.odd]="odd" [class.even]="even">
                        <GridLayout columns="10, 200, *" rows="20, 25, 35" width="100%" height="100%">
                                <label row="0" col="0" text=""></label>
                                <StackLayout orientation="horizontal" row="1" col="1"> 
                                        <Label horizontalAlignment="left" class="Cloud-Light black" [text]="item.namee"></Label>
                                        <Label horizontalAlignment="left" class="Cloud-Light black" text=" "></Label>
                                        <Label horizontalAlignment="right" class="mdis" [text] = "'mdi-info-outline' | fonticon" (tap) = "showInfo(item.namee)"></Label>
                                </StackLayout>
                                <Label row="2" col="1" class="Cloud-Light" [text]='item.namet'></Label>
                                <label row="1" col="2" class="Cloud-Light setCenter black" [text]='"  " + item.result + " " + item.type'></label>
                                <Image row="2" col="2" class="setCenter sizePic" *ngIf="checkDataLab(item.result, item.namee)" [src]="heart"></Image>
                        </GridLayout>
                </StackLayout>
        </ng-template>
</ListView>
