<sidebar #sidebar></sidebar>
<ActionBar class="bg">
        <StackLayout>
                <GridLayout width="100%" height="100%">
                        <Label horizontalAlignment="right" class="mdi rights" [text]="'mdi-menu' | fonticon" (tap) = "openDrawer()"></Label>
                        <Label horizontalAlignment="left" class="mdi" [text]="'mdi-arrow-back' | fonticon" (tap) = "toBack()"></Label>
                        <label horizontalAlignment="center" class="setCenter w Cloud-Lights" text="ยาและวิธีการใช้"></label>
                </GridLayout>
        </StackLayout>
</ActionBar>

<StackLayout>
        <ListView [items]="dataMedicineShow" (setupItemView)="onSetupItemView($event)" (itemTap)="onItemTap($event)">
                <ng-template let-item="item" let-index="index" let-odd="odd" let-even="even">
                        <StackLayout class="mtop" [class.odd]="odd" [class.even]="even">
                                <GridLayout columns="10, 220, *" rows="20, 25, 20" width="100%" height="100%">
                                        <label row="0" col="0" text=""></label>
                                        <Label row="1" col="1" class = "Cloud-Light" [text]='" " + getFormatDate(item.visitdate)' ></Label>
                                        <label row="1" col="3" class = "Cloud-Light2 setCenter" text="รายละเอียด"></label>
                                </GridLayout>
                        </StackLayout>
                </ng-template>
        </ListView>
</StackLayout>