<ActionBar>
    <StackLayout>
            <GridLayout width="100%" height="100%">
                    <label horizontalAlignment="center" class="setCenter b Cloud-Lights" text="ยืนยันการลงทะเบียน"></label>
            </GridLayout>
    </StackLayout>
</ActionBar>

<StackLayout class="Cloud-Light">
    <Label text = "ลงทะเบียนภูเบศรแคร์" class="labelTitle sizeFontTitle fontBlack"></Label>
    <label text=""></label>
    <Label text = "สำเร็จ" class="marginMiddle sizeFonts" style="color: rgb(16, 141, 26);"></Label>
    <Button class="btn btn-primary Button sizeFont Cloud-Light" text = "ตกลง" (tap)="back()"></Button>
</StackLayout>